[Bb]in/
[Oo]bj/
_ReSharper*
*.suo
*.csproj.user
*.DotSettings.user
*.userprefs
*.InstallLog
*.ipch
*.cache
*.log
Resource.designer.cs
*v12.suo
*.x.js.map
*.x.js
*.x.css
desktop.ini
.vs/
.vscode/
*.orig
.idea/
*.iml
*.sln.DotSettings
